body, button, input{
	font: 20px Verdana, Sans;
}

#menu{
	margin-top: 100;
	text-align: center;
}

#edit{
	display: none;
}

#game{
	display: none;
	height: 95vh;
	width: 100%;
	margin: 0px auto;
}

.menu-button{
	margin: 5px;
	padding: 5px;
}

.menu-button > button{
	font-size: 40px;
}

.cards{
	text-align: center;
}

.col{
	display: inline-block;
}

.row{
	display: block;
}

.card{
	font-size: 30px;
	font-weight: bold;
	margin: 2px;
	width: 5vw;
	height: 7vw;
	border: 1px solid black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card[color="color1"]{
	color: #E60000;
}

.card[color="color2"]{
	color: #E65C00;
}

.card[color="color3"]{
	color: #E6E600;
}

.card[color="color4"]{
	color: #008000;
}

.card[color="color5"]{
	color: #0000FF;
}

#deck-info{
	margin: 50px;
	text-align: center;
	font-size: 30px;
}

#deck-topbar, #deck-controls{
	font-size: 20px;
	text-align: center;
	margin: 10px;
}

input[name="deck-input"], button[name="save-deck"]{
	text-align: center;
	margin: 15px;
}

input[name="deck-input"]{
	font-weight: bold;
	font-size: 30px;
}

#connect{
	display: none;
}

#set-id, #set-id > input{
	font-weight: bold;
	font-size: 30;
	margin: 5px;
}

#connect-id{
	display: none;
}

#your-id{
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
}

input[name="connect-id"]{
	font-weight: bold;
	font-size: 30;
	margin: 5px;
}

.opponent-card, .player-card{
	display: inline-block;
}

#opponent-bar{
	padding: 5px;
	border: 2px solid red;
	position: relative;
    display: flex;
    justify-content: center;
}

#player-bar{
	padding: 5px;
	border: 2px solid blue;
	position: relative;
    display: flex;
    justify-content: center;
}

#game-board{
	position: relative;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#opponent-score{
	position: absolute;
	top: 3px;
	left: 3px;
}

#player-score{
	position: absolute;
	bottom: 3px;
	right: 3px;
}

#board-info{
	text-align: center;
}

#board-info > div{
	display: inline-block;
}

#player-score{
	border: 3px solid blue;
	font-size: 30px;
	font-weight: bold;
}

#opponent-score{
	border: 3px solid red;
	font-size: 30px;
	font-weight: bold;
}

#board-space{
	width: 30vh;
	font-size: 40px;
	font-weight: bold;
}

#player-board-card > .card{
	font-size: 50px;
	height: 20vw;
	width: 15vw;
	border: 3px solid blue;
}

#opponent-board-card > .card{
	font-size: 50px;
	height: 20vw;
	width: 15vw;
	border: 3px solid red;
}
